.pagination {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
  .paginationItem {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background: #1D1E26;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      @apply bg-primaryLight;
    }
  }

}
